<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://br.com.axialsoftware.axctg3/menu.application.title" opened="true">
        <item view="SelecionarEmpresa.list"
              title="msg://br.com.axialsoftware.axctg3.view.cadastros.empresa/selecionarEmpresaListView.title"/>
        <menu id="cadastros" title="msg://br.com.axialsoftware.axctg3/menu.cadastros.title">
            <item view="CentroCusto.list"
                  title="msg://br.com.axialsoftware.axctg3.view.cadastros.centrocusto/centroCustoListView.title"/>
            <item view="Parceiro.list"
                  title="msg://br.com.axialsoftware.axctg3.view.cadastros.parceiro/parceiroListView.title"/>
            <item view="CondicaoPagamento.list"
                  title="msg://br.com.axialsoftware.axctg3.view.cadastros.condicaopagamento/condicaoPagamentoListView.title"/>
            <item view="Vendedor.list"
                  title="msg://br.com.axialsoftware.axctg3.view.cadastros.vendedor/vendedorListView.title"/>
        </menu>
        <menu id="contabil" title="msg://br.com.axialsoftware.axctg3/menu.contabil.title">
            <item view="PeriodoContabil.list"
                  title="msg://br.com.axialsoftware.axctg3.view.contabil.periodocontabil/periodoContabilListView.title"/>
            <item view="HistoricoContabil.list"
                  title="msg://br.com.axialsoftware.axctg3.view.contabil.historicocontabil/historicoContabilListView.title"/>
            <item view="ContaContabil.list"
                  title="msg://br.com.axialsoftware.axctg3.view.contabil.contacontabil/contaContabilListView.title"/>
            <item view="Lancamento.list"
                  title="msg://br.com.axialsoftware.axctg3.view.contabil.lancamento/lancamentoListView.title"/>
            <item view="Bem.list"
                  title="msg://br.com.axialsoftware.axctg3.view.contabil.bem/bemListView.title"/>
        </menu>
        <menu id="financeiro" title="msg://br.com.axialsoftware.axctg3/menu.financeiro.title">
            <item view="Banco.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.banco/bancoListView.title"/>
            <item view="HistoricoFinanceiro.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.historicofinanceiro/historicoFinanceiroListView.title"/>
            <item view="DiversoPagar.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.diversopagar/diversoPagarListView.title"/>
            <item view="BaixaDiversoPagar.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.baixadiversopagar/baixaDiversoPagarListView.title"/>
            <item view="TituloReceber.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.tituloreceber/tituloReceberListView.title"/>
            <item view="BaixaTituloReceber.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.baixatituloreceber/baixaTituloReceberListView.title"/>
            <item view="TituloPagar.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.titulopagar/tituloPagarListView.title"/>
            <item view="BaixaTituloPagar.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.baixatitulopagar/baixaTituloPagarListView.title"/>
            <item view="MovimentoBanco.list"
                  title="msg://br.com.axialsoftware.axctg3.view.financeiro.movimentobanco/movimentoBancoListView.title"/>
        </menu>
        <menu id="fiscal" title="msg://br.com.axialsoftware.axctg3/menu.fiscal.title">
            <item view="PeriodoFiscal.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.periodofiscal/periodoFiscalListView.title"/>
            <item view="NaturezaOperacao.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.naturezaoperacao/naturezaOperacaoListView.title"/>
            <item view="GrupoProduto.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.grupoproduto/grupoProdutoListView.title"/>
            <item view="Produto.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.produto/produtoListView.title"/>
            <item view="SaldoProduto.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.saldoproduto/saldoProdutoListView.title"/>
            <item view="NotaSaida.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.notasaida/notaSaidaListView.title"/>
            <item view="Nfe.list"
                  title="msg://br.com.axialsoftware.axctg3.view.fiscal.nfe/nfeListView.title"/>
        </menu>
        <menu id="compras" title="msg://br.com.axialsoftware.axctg3/menu.compras.title">

        </menu>
        <menu id="almoxarifado" title="msg://br.com.axialsoftware.axctg3/menu.almoxarifado.title">

        </menu>
    </menu>
    <menu id="administracao" title="msg://br.com.axialsoftware.axctg3/menu.administracao.title">
        <item view="User.list" title="msg://br.com.axialsoftware.axctg3.view.user/UserListView.title"/>
        <item view="Empresa.list"
              title="msg://br.com.axialsoftware.axctg3.view.cadastros.empresa/empresaListView.title"/>
    </menu>
    <menu id="tabelas" title="msg://br.com.axialsoftware.axctg3/menu.tabelas.title">
        <item view="ClassificacaoFiscal.list"
              title="msg://br.com.axialsoftware.axctg3.view.tabelas.classificacaofiscal/classificacaoFiscalListView.title"/>
        <item view="Municipio.list"
              title="msg://br.com.axialsoftware.axctg3.view.tabelas.municipio/municipioListView.title"/>
        <item view="TipoLogradouro.list"
              title="msg://br.com.axialsoftware.axctg3.view.tabelas.tipologradouro/tipoLogradouroListView.title"/>
        <item view="ClassTrib.list"
              title="msg://br.com.axialsoftware.axctg3.view.tabelas.classtrib/classTribListView.title"/>
        <item view="ContaReferencial.list"
              title="msg://br.com.axialsoftware.axctg3.view.tabelas.contareferencial/contaReferencialListView.title"/>
    </menu>

</menu-config>